@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(25deg, rgb(12, 11, 26), rgb(35, 32, 61));
}

.btn {
    margin-top: 30px;
    border-radius: 20px;
    height: 40px;
    width: 60%;
    background-color: royalblue;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.9s;

    &:hover {
        opacity: 0.7;
    }

    &:disabled {
        opacity: 0.4;
    }
}